.configuration-form{
    border-radius: 30px;
    box-shadow: rgb(167, 167, 167) 1px 1px 15px 1px;
    background-color:rgb(240, 240, 240);
    padding: 20px;
    margin-bottom: 20px;
    height: 50vh;
    width: 80vh;
}

.configuration-form-container{
    display: inline-block;
}

.button{
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 7px;
    background-color:rgb(65, 130, 215);
    border: none;
    transition: 0.5s;
}

.button:hover{
    cursor: pointer;
    background-color:rgb(215, 65, 65);
    color: white;
    border: none;
}

label{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    padding: 0px;
}

.input{
    border-radius: 3px;
    width: 20vh;
    height: 4vh;
    margin: 5px;
}