.user-type-selection-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .user-h2 {
    margin-top: 80px;
    margin-bottom: 40px;
    font: optional;
    color: tomato;
    font-size: 50px;
  }
  
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .user-type-button {
    padding: 100px 200px;
    margin: 0 20px;
    font-size: 30px;
    background-color: #00000063;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .user-type-button:hover {
    background-color: #0056b3;
  }
  